{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

<!-- DecapCMS -->
<!-- <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->
<!-- DecapCMS -->

<!-- Lyket -->
<!-- <script src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey=pt_42fc718ec0a7e06a37da241d7c84a4"></script> -->
<!-- Lyket -->